 @import 'scss/reset';
 @import 'scss/typography';
 @import 'scss/color';
 @import 'scss/buttons';
 @import 'scss/common';

 h1 {
     color: $dark_color;
 }

 body {
     font-family: "Montserrat", sans-serif;
     line-height: 1.6;
     color: $body_color;
 }

 // Start Header
 .header {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
 }
 // .navigation-container {

 // }
 .navigation-search-box {

     form {
         height: 46px;
         border: 1px solid #01ac66;

         @media(min-width:1280px) {
             min-width: 500px;
         }

         button {
             white-space: nowrap;
             font-size: 14px;
             background-color: #01ac66;
             color: #fff;

             &:hover {
                 background-color: #02814c;
                 color: #fff;
             }
         }
     }
 }

 .navigation-right-area {

     ul {
         li {
             margin-left: 10px;
             font-size: 15px;
             list-style: none;

             a {
                 display: inline-flex;
                 align-items: end;
                 text-decoration: none;
                 color: #0b0a09;

                 .badge {
                     top: -13px;
                     left: 18px;
                     height: 20px;
                     width: 20px;
                     border-radius: 100%;
                     font-weight: 400;
                     background-color: #01ac66;
                 }
             }
         }
     }
 }

 // Start Home
 .home-bg {
     background-color: #f6f6f6;
     padding-top: 140px;
     padding-bottom: 40px;
 }

 .welcome-intro {
     background-color: #01ac6583;

     h1 {
         font-size: 40px;
         font-weight: 700;
         color: $dark_color;
     }

     p {
         font-size: 15px;
         font-weight: 500;
     }

     button {
         font-size: 14px;
     }
 }

 // End Home

 .featured-cat-box {
     background-color: #edf9f4;
     border-radius: 0.35rem;

     a {
         padding: 20px 14px;
     }

     .featured-text {
         h3 {
             font-size: 16px;
             margin-bottom: 1px;
             font-weight: 600;
             color: $dark_color;
         }

         p {
             font-size: 14px;
             font-weight: 500;
             color: #666666;
         }
     }
 }


 // Populer Product
 .product-item-box {
     border: 1px solid $light_green;

     .offer {
         background-color: #e6f7f0;
         color: $green_color;
         border-radius: 0 0 15px 0;
         padding: 7px 15px;
     }

     .product-img-box {
         border-bottom: 1px solid $light_green;
     }

     .product-content {
         padding: 0 12px 15px 12px;

         h3 {
             font-weight: 600;
             font-size: 13px;
             display: -webkit-box;
             -webkit-line-clamp: 2;
             -webkit-box-orient: vertical;
             line-height: 18px;
             width: 100%;
             height: 36px;
             margin-bottom: 6px;
         }

         .price-box {
             .price-main {
                 font-size: 1.25rem;
                 color: $green_color;
                 word-spacing: -4px;
             }

             del {
                 font-size: 15;
             }
         }
         .btn-light-green {
            &:hover{
                background-color: #02814c;
                color: #fff;
            }
         }
         

     }
 }


 .star-rating {
     li {
         margin-right: 2px;
     }

     .rating-count {
         padding-top: 7px;
     }
 }

 // Service Features box 
 .featured-service-box {
     background-color: $light_green;
     border-radius: 0.35rem;
 }

 // footer
 .footer {
     background-color: #242424;
     padding: 40px 0;

     .footer-bottom-row {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        padding-top: 40px;
        margin-top: 30px;
     }

     .footer-title-heading {

         form {
             background-color: #515050;

             .form-control {
                 padding-top: 0.7rem;
                 padding-bottom: 0.7rem;

                 &::placeholder {
                     color: rgba(255, 255, 255, 0.7)
                 }
             }
         }
     }
 }

 //  Top Category 
 .banner-text {
     top: 22%;

     h4 {
         font-size: 23px;
     }
 }

 // Testimonial Section 
 .testimonial-box {
     padding: 50px 70px;
     border: 2px solid $light_green;

     .testimonial-img {
         img {
             border: 6px solid $light_green;
         }
     }

     .testimonial-text {
         padding: 0 50px;

         p {

             &::before {
                 position: absolute;
                 content: "";
                 left: -10%;
                 top: 0;
                 width: 50px;
                 height: 50px;
                 background-image: url('../public/assets/images/icons/quotation-left.png');
                 background-repeat: no-repeat;

             }

             &::after {
                 position: absolute;
                 content: "";
                 right: -12%;
                 bottom: -50%;
                 width: 50px;
                 height: 50px;
                 background-image: url('../public/assets/images/icons/quotation-right.png');
                 background-repeat: no-repeat;

             }
         }

     }
 }
 .carousel-indicators .active {
    background-color: $green_color !important;

 }
.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    border:2px solid $green_color !important;
    border-radius: 100% !important;
}

 //responsive
 @media(max-width:1200px) {
    .top-category-row {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
 }

 @media(max-width:460px) {
    .navigation-search-box {
        width: 100%;
    }
    .navigation-logo img {
        width: 135px;
    }

    // Home section 
    .home-bg {
        padding-top: 170px;
    }
    .welcome-intro {
        background-color: #def9ec;
    }
    .welcome-intro h1 {
        font-size: 18px;

    }

    // Testimonial Section 
    .testimonial-box {
        padding: 30px 10px;

        .testimonial-text {
            padding: 0 40px;

        }
    }
    .banner-text {
        top: 15%;
        font-size: 20px;
    }
   
 }

@media(min-width:1366px){
    .welcome-intro h1{
        font-size: 38px;
    }
}


@media(min-width:1024px){
    .welcome-intro h1{
        font-size: 34px;
    }
}
