.sec-pd {
    padding: 60px 0;
}
.light-text {
    color: rgba(255,255,255,0.7)
}
.sec-title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 40px;
}
.invert {
    filter: invert(1);
}
    /* Hide scrollbar for Chrome, Safari and Opera */
.hide-default-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-default-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


// Responsive
@media(max-width:840px) {
    .sec-pd {
        padding: 50px 0;
    }
}

@media (max-width: 460px) {
    .sec-pd {
        padding: 40px 0;
    }

    .sec-title {
        font-size: 26px;
        margin-bottom: 36px;
    }
}